@value colors: "../../colors.css";
@value claim-true, claim-false from colors;
@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

.OnlineDeliveryGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 24px;
  padding-bottom: 24px;
}

@media only screen and (max-width: max-mobile) {
  .OnlineDeliveryGrid {
    grid-template-columns: 1fr;
  }
}
.GridHeader {
  text-align: center;
}

.SVGLine {
  height: 1rem;
  width: 1rem;
  margin: 0 4px;
}

.LinkWithIcon {
  padding-right: 16px;
}
