@value colors: "../../colors.css";
@value claim-true, claim-false from colors;
@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

.FactCheckGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 24px;
  padding-bottom: 24px;
}

@media only screen and (max-width: max-mobile) {
  .FactCheckGrid {
    grid-template-columns: 1fr;
  }
}

.Claim {
  padding: 8px;
}

.TrueClaim {
  composes: Claim;
  background-color: claim-true;
}

.FalseClaim {
  composes: Claim;
  background-color: claim-false;
}

.CardTitle {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: auto;
  column-gap: 24px;
  justify-items: center;
  align-items: center;
}
