@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid black;
}
.navitem {
  composes: lato from "../../index.css";
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin: 0 4px;
  border-bottom: 2px solid transparent;
}
.navitem:hover {
  border-bottom: 2px solid white;
}

.active {
  border-bottom: 2px solid white;
}

.StandardHeader {
  display: grid;
}

.links {
  display: flex;
}
