@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid black;
}
.navitem {
  composes: lato from "../../index.css";
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin: 0 4px;
}
.navitem div {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.navitem:hover div {
  border-bottom: 2px solid white;
}

.active div {
  border-bottom: 2px solid white;
}

.StandardHeader {
  display: grid;
}

.links {
  display: flex;
}

.MobileHeader {
  display: none;
}

@media only screen and (max-width: max-mobile) {
  .MobileHeader {
    display: grid;
  }
}

@media only screen and (max-width: max-mobile) {
  .StandardHeader {
    display: none;
  }
}
