@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

@value colors: "../../colors.css";
@value base-background from colors;

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid black;
  position: relative;
}
.navitem {
  composes: lato from "../../index.css";
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin: 0 4px;
}
.navitem div {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.navitem:hover div {
  border-bottom: 2px solid white;
}

.active div {
  border-bottom: 2px solid white;
}

.StandardHeader {
  display: grid;
}

.links {
  display: flex;
}

.MobileHeader {
  display: none;
}

.MobileMenu {
  display: flex;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  flex-direction: column;
}

.MobileMenu a {
  background-color: base-background;
  border-bottom: 2px solid white;
  margin: 0;
  z-index: 10;
}

.MobileMenu a div {
  width: fit-content;
}

.MobileMenu a:last-of-type {
  border-bottom: 3px solid white;
  margin-bottom: 4px;
}

.MobileMenuButton {
  color: white;
  background: none;
  border: none;
}

@media only screen and (max-width: max-mobile) {
  .MobileHeader {
    display: grid;
  }
}

@media only screen and (max-width: max-mobile) {
  .StandardHeader {
    display: none;
  }
}
