@value breakpoints: "../../breakpoints.css";
@value max-mobile from breakpoints;

.LiveFeed {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "map twitter";
}

@media only screen and (max-width: max-mobile) {
  .LiveFeed {
    grid-template-columns: auto;
    grid-template-rows: auto 90vmin;
    row-gap: 16px;
    grid-template-areas:
      "twitter"
      "map";
  }
}

.MapContainer {
  grid-area: map;
  display: flex;
  flex-direction: column;
}

.MapElement {
  width: 100%;
  height: 100%;
}

.TwitterContainer {
  grid-area: twitter;
  height: calc(80vh - 32px);

  overflow-y: scroll;
}
