@value colors: "colors.css";
@value base-background from colors;

.App {
  height: 100%;
  width: 100vw;
  background-color: base-background;
  color: white;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) 10vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.Content {
  margin: 16px 24px;
  grid-area: content;
}
